<h1>Toutes vos Listes de Films</h1>

<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list), class: "btn btn-link" %>

      <%= link_to "Supprimer", list_path(list),
          data: { turbo_method: :delete, turbo_confirm: "Es-tu sûr ?" }, class: "btn btn-danger" %>
    </li>
  <% end %>
</ul>

<%= link_to 'Créer une nouvelle liste', new_list_path, class: "btn btn-primary" %>
